body {
  background-color: #414141;
  font-family: sans-serif;
  color: #cec2b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  margin-top: 1em;
  text-align: center;
}

.about {
  margin-top: 0.5em;
  font-size: x-large;
}

.about a {
  color: #cec2b3;
}

.about a:hover {
  color: #141414;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

i[data-tooltip]:hover {
  position: relative;
}

i[data-tooltip]:hover:after {
  font-family: sans-serif;
  content: attr(data-tooltip);
  padding: 5px 5px 5px 5px;
  margin: 5px 0px 0px 0px;
  position: absolute;
  top: 110%;
  left: -10%;
  white-space: nowrap;
  z-index: 20px;

  background-color: #424242;
  color: #cccccc;
}
